<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!-- encoders are assigned the type
                ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[mc-image-helper] %d{HH:mm:ss.SSS} %-5level %logger : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- it's noisy at info level -->
    <logger name="org.mockserver.log.MockServerEventLog" level="${mockServerLogLevel:-warn}"/>

    <root level="info">
        <!-- for test only, output all levels to stderr -->
        <appender-ref ref="STDERR"/>
    </root>
</configuration>