name: test

on:
  push:
    branches: &branches
      - master
      - java8
    paths-ignore: &path-ignore
      - "*.md"
  pull_request:
    branches: *branches
    paths-ignore: *path-ignore

jobs:
  test:
    uses: itzg/github-workflows/.github/workflows/gradle-build.yml@build/use-setup-gradle-action
    with:
      arguments: test
      include-test-report: true
      retest-showing-standard-streams: true
