name: test

on:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Setup Java JDK
      uses: actions/setup-java@v2.3.1
      with:
        # maximize compatibility with minecraft images
        java-version: '8'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Test
      run: ./gradlew test

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: github.event_name != 'pull_request' && (success() || failure())    # run this step even if previous step failed
      with:
        name: test results
        path: build/test-results/test/*.xml
        reporter: java-junit
